html, body {
	height:100%;
	width: 100%;
}

/* NAVBAR */
.navbar {
	background-color: #373737;
	font-family: 'Amatic SC', cursive;
	font-size: 1.5em;
	font-weight: bold;
	border-color: transparent;
}

.navbar .navbar-brand {
  color: #FFF;
}

.navbar .navbar-brand:hover {
  color: #FFF;
}

.navbar .navbar-brand:focus {
  color: #FFF;
}

.navbar .navbar-nav li a {
	color: #D5D5D5;
}

.navbar .navbar-nav li a:hover {
	background-color: #373737;
	color: #FFF;
	font-size: 120%;
}

.navbar .navbar-nav li a:focus {
	background-color: #373737;
	color: #FFF;
	font-size: 120%;
}

#navbar-collapse-main .active a {
	font-weight: bold;
	background-color: #373737;
	color:#FFF;
	font-size: 120%;
}

/* BACKGROUND */
section {
 	position: relative;
 	width: 100%;
 	height: 100%;
 	display: table;
}

.home-wrap {
 	clip: rect(0, auto, auto, 0);
 	position: absolute;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 100%;
}

#home {
	padding: 100px;
	background-image: url('../Assets/Background.jpg');
 	position: fixed;
 	display: table;
 	top: 0;
 	left: 0;
 	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	-webkit-transform: translateZ(0);
          transform: translateZ(0);
	will-change: transform;
	z-index: -1;
}

.landing-text {
	font-family: 'Amatic SC', cursive;
	color: #FFF;
	z-index: 100;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.landing-text h1 {
	font-size: 700%;
	font-weight: bold;
}

.break img {
	width: 100%;
	height: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

/* PORT */
#portfolio {
	background-color: #E5E7E9;
}

.intro {
	padding-top: 70px;
	padding-bottom: 60px;
}

.intro h1 {
	font-size: 300%;
	font-weight: bold;
	font-family: 'Amatic SC', cursive;
	text-align: center;
}

.skill {
	padding-left: 25%;
}

.skillList {
	padding-bottom: 15px;
	font-family: 'Poor Story', cursive;
	font-size: 140%;
	list-style: none;
}

.myProgress {
    width: 70%;
    background-color: #FFFFFF;
}

.myBar {
    width: 0%;
    height: 20px;
    background-color: #3fb6b2;
}

.portcontainer {
	padding: 0px 20% 70px 20%;
	font-family: 'Poor Story', cursive;
}

.portcontainer ul {
	padding: 0px;
	font-size: 20px;
}

.portcontainer img {
	width: 200px;
	height: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

/* ABOUT*/
#about {
	background-color: #F2F3F4;
}

.aboutcontainer {
	padding: 0px 20% 100px 20%;
	font-family: 'Poor Story', cursive;
}

.aboutcontainer p {
	font-size: 20px;
}

.aboutcontainer img {
	width: 100%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 3px solid white;
}

.video {
    display: block;
    margin: 30px 5% 0 5%;
    border-radius: 10px;
    border: 3px solid white;
}

/* COFFEE */
.gallery {
    padding-left: 5%;
    padding-right: 5%;
}

.gallery .lightbox img {
    width: 110%;
    margin-bottom: 10px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.gallery img {
    border-radius: 10px;
}


/*CONTACT */	
#contact {	
	background-color: #DFDDDE;	
}	

textarea {	
    height: 120px;	
}	

input, textarea {	
    margin-bottom: 5px;	
    font-size: 11pt;	
    padding: 15px 10px 10px 10px;	
    border: 1px solid #cecece;	
    background-color: #FFFFFF;	
    color: #787575;	
    border-radius: 5px;	
    width: 55%;	
    outline: none;	
}	

.submit{	
	width: 20%;	
	margin: 0 40% 75px 40%;	
}

/* FOOTER + CONTACT */
footer {
	width: 100%;
	background-color: #373737;
	color: #FFF;
	font-family: 'Amatic SC', cursive;
}

.fa {
	padding: 0 8px 0 8px;
	color: #FFF;
}

.fa:hover {
	color: #D5D5D5;
	text-decoration: none;
}
