html, body {
	height:100%;
	width: 100%;
}

/* NAVBAR */
.navbar {
	background-color: #373737;
	font-family: 'Patrick Hand', cursive;
	font-size: 150%;
	border-color: transparent;
}

.navbar .navbar-brand {
  color: #FFF;
}

.navbar .navbar-brand:hover {
  color: #FFF;
}

.navbar .navbar-brand:focus {
  color: #FFF;
}

.navbar .navbar-nav li a {
	color: #D5D5D5;
}

.navbar .navbar-nav li a:hover {
	background-color: #373737;
	color: #FFF;
	font-size: 120%;
}

.navbar .navbar-nav li a:focus {
	background-color: #373737;
	color: #FFF;
	font-size: 120%;
}

#navbar-collapse-main .active a {
	font-weight: bold;
	background-color: #373737;
	color:#FFF;
	font-size: 120%;
}

/* BACKGROUND */
section {
 	position: relative;
 	width: 100%;
 	height: 100%;
 	display: table;
}

.home-wrap {
 	clip: rect(0, auto, auto, 0);
 	position: absolute;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 100%;
}

#landingPicture {
	padding: 100px;
	background-image: url('../Assets/Background.jpg');
 	position: fixed;
 	display: table;
 	top: 0;
 	left: 0;
 	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	-webkit-transform: translateZ(0);
          transform: translateZ(0);
	will-change: transform;
	z-index: -1;
}

.landing-text {
	font-family: 'Patrick Hand', cursive;
	color: #FFF;
	z-index: 100;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.landing-text h1 {
	font-size: 800%;
}

figure {
	position: relative;
	width: 100%;
	height: 60%;
}

.fixed-wrap {
	clip: rect(0, auto, auto, 0);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#fixed {
	background-image: url('../Assets/Background2.JPG');
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	-webkit-transform: translateZ(0);
          transform: translateZ(0);
	will-change: transform;
}

.intro {
	padding-top: 70px;
	padding-bottom: 60px;
}

.intro-h1 {
	font-size: 400%;
	font-family: 'Patrick Hand', cursive;
	text-align: center;
}

.intro-h2 {
	font-size: 300%;
	font-family: 'Patrick Hand', cursive;
	text-align: center;
}

/* Portfolio */
#portfolio {
	background-color: #E5E7E9;
}

/* Skill */
.skill-container {
	padding: 0px 20% 70px 20%;
	font-family: 'Poor Story', cursive;
}

.skill-list {
	padding-bottom: 20px;
	font-size: 140%;
	list-style: none;
}

.skill-bar {
    width: 100%;
    height: 20px;
    background-color: #FFFFFF;
}

.skill-progress {
    width: 0%;
    height: 20px;
    background-color: #3FD6D2;
}

.skill-progress2 {
    width: 0%;
    height: 20px;
    background-color: #9DC183;
}

/* Experience */
.experience-container {
	padding: 0px 20% 70px 20%;
	font-family: 'Poor Story', cursive;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="experience-container"] {
        padding: 0px 5% 100px 5%;
        font-family: 'Poor Story', cursive;
    }
}

.experience-company {
	color: green;
}

.experience-position {
	color: #3C5AB4;
}

.experience-location {
	color: grey;
}

.experience-duty {
	padding: 5px;
	font-size: 20px;
}

.experience-img {
	height: 200px;
	width: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

/* About */
#about {
	background-color: #F2F3F4;
}

.about-container {
	padding: 0px 20% 100px 20%;
	font-family: 'Poor Story', cursive;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="about-container"] {
        padding: 0px 5% 100px 5%;
        font-family: 'Poor Story', cursive;
    }
}

.about-content {
	font-size: 20px;
	text-align: center;
}

.content-img, .content-iframe {
	height: 200px;
	width: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 3px solid white;
}

/* Coffee */
#starbucks {
	background-color: #E5E7E9;
}

.gallery-img {
	height: 100%;
	width: 100%;
    object-fit: contain;
}

/* Contact */	
#contact {	
	background-color: #D9DADB;	
}	

.contact-container {
	padding: 100px 0px 100px 0px;
	text-align: center;
}

.contact-link {
	text-decoration: none;
}

.contact-img {
	height: 100px;
	width: auto;
	padding-left: 10px;
	padding-right: 10px;
}

/* Footer */
#copyright {
	background-color: #373737;
	color: #FFF;
	font-family: 'Patrick Hand', cursive;
	text-align: center;
}

/*
* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}

*/