html, body {
	height: 100%
	width: 100%;
}

nav {
	font-family: 'Amatic SC', cursive;
	font-size: 100%;
}

#home {
	background: url(../Files/Background.JPG) no-repeat center center fixed;
	display: table;
	height: 100vh;
	width: 100%;
	position: relative;
	background-attachment: fixed;       
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
	padding-top: 50px;
}

.landing-text {
	clear: filter;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-family: 'Amatic SC', cursive;
	color: white;
}

.landing-text h1 {
	font-size: 650%;
	font-weight: 700;
}

.landing-text h2 {
	font-size: 250%;
	font-weight: 700;
}

.padding {
	padding: 80px 0;
}

.padding img {
	width: 100%
}

footer {
	width: 100%;
	background-color: black;
	padding: 5% 5% 10% 5%;
	color: white
}
