body {
	margin: 0;
	background: #999;
	background-image: url("Files/Background.jpg");
	font-family: arial;
}

header{
	padding: 20px;
}

h1, h2, li {
	margin: 0;
	color: black;
}

a{
	color: white ;
}

p{
	background: #999;
	color: white;
	padding: 10px;
}

nav ul{
	margin: 0;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
	background: #999;
	color: white;
	padding: 5px 10px;
	margin: 20;
}

